<!DOCTYPE html>
<html lang="en">

<head>{% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"
        integrity="sha512-NWNl2ZLgVBoi6lTcMsHgCQyrZVFnSmcaa3zRv0L3aoGXshwoxkGs3esa9zwQHsChGRL4aLDnJjJJeP6MjPX46Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css"
        integrity="sha512-F7WyTLiiiPqvu2pGumDR15med0MDkUIo5VTVyyfECR5DZmCnDhti9q5VID02ItWjq6fvDfMaBaDl2J3WdL1uxA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motivation</title>
</head>

<body style="background: {{motivation.color}};">
    <div class="navigation-yash" style="z-index: 1000;">
        <ul style="padding-left: 0;">
            <li>
                <a href="/home">
                    <span class="icon-yash"><i class="fa fa-home" aria-hidden="true"></i></span>
                    <span class="title-yash">Home</span>
                </a>
            </li>
            <li>
                <a href="/profile">
                    <span class="icon-yash"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                    <span class="title-yash">Profile</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <span class="icon-yash"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
                    <span class="title-yash">Terms</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <span class="icon-yash"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                    <span class="title-yash">Log out</span>
                </a>
            </li>
            <hr style="opacity: 1; color: white;">
            <li>
                <span class="title-yash" style="color: white;">Version 1 (Beta)</span>
            </li>
        </ul>
    </div>
    <div class="toggle" onclick="toggleMenu()"></div>

    <script>
        function toggleMenu() {
            let navigation = document.querySelector('.navigation-yash');
            let toggle = document.querySelector('.toggle');
            navigation.classList.toggle('active');
            toggle.classList.toggle('active');
        }
    </script>

    <div class="container" style="padding: 30px; padding-top: 15vh; color: white;">
        <div class="quote" class="text-left">
            <h1>{{motivation.quote}}</h1>
        </div>
        <div class="writter" style="margin-top: 5vh;"><h3>{{motivation.writter}}</h3></div>
        <div class="image" style="display: flex; align-items: flex-end; margin-top: 10vh;"><img src="/media/{{motivation.aurhor}}" alt="" style="width: 20vh; height: 25vh;"></div>
    </div>

</html>