<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"
        integrity="sha512-NWNl2ZLgVBoi6lTcMsHgCQyrZVFnSmcaa3zRv0L3aoGXshwoxkGs3esa9zwQHsChGRL4aLDnJjJJeP6MjPX46Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css"
        integrity="sha512-F7WyTLiiiPqvu2pGumDR15med0MDkUIo5VTVyyfECR5DZmCnDhti9q5VID02ItWjq6fvDfMaBaDl2J3WdL1uxA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Homework</title>
</head>
<body>
    
    <!-- navbar code goes here -->


    <div class="navigation-yash">
        <ul style="padding-left: 0;">
            <li>
                <a href="/home">
                    <span class="icon-yash"><i class="fa fa-home" aria-hidden="true"></i></span>
                    <span class="title-yash">Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon-yash"><i class="fa fa-book" aria-hidden="true"></i></span>
                    <span class="title-yash">Upload Homework</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon-yash"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                    <span class="title-yash">Profile</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon-yash"><i class="fa fa-bell" aria-hidden="true"></i></span>
                    <span class="title-yash">Messages</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon-yash"><i class="fa fa-comments" aria-hidden="true"></i></span>
                    <span class="title-yash">Chat</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon-yash"><i class="fa fa-wrench" aria-hidden="true"></i></span>
                    <span class="title-yash">Settings</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <span class="icon-yash"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                    <span class="title-yash">Log out</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon-yash"><i class="fa fa-paper" aria-hidden="true"></i></span>
                    <span class="title-yash">Notes</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="toggle" onclick="toggleMenu()"></div>

    <script>
        function toggleMenu() {
            let navigation = document.querySelector('.navigation-yash');
            let toggle = document.querySelector('.toggle');
            navigation.classList.toggle('active');
            toggle.classList.toggle('active');
        }
    </script>


    <section class="hello-section" style="background: linear-gradient(#00BFFF, #C71585); min-height: 30vh;">
        <div class="hello-heading" style="color: white; padding-top: 40px;">
            <h1 class="text-center" style=" font-size: 35px; font-weight: 600;">Upload Homework</h1>
        </div>
    </section>
    {% if messages %}
    <ul class="messages" style="display: flex; align-items: center; justify-content: center;">
        {% for message in messages %}
        <li{% if message.tags == 'success' %} class="{{ message.tags }}" style="list-style: none;"><h3 class="text-center" style="color: green; margin-top: 30px; font-size: 25px;">{{message}}</h3>{% else %}class="{{ message.tags }}" style="list-style: none;"><h3 class="text-center" style="color: rgb(201, 16, 16); margin-top: 30px; font-size: 20px;">{{message}}</h3>{% endif %}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <section class="upload-homework" style="margin-top: 10vh;">
        <div class="container">
            <form enctype="multipart/form-data" method="POST" action="/homework/upload">{% csrf_token %}
                <div class="mb-3">
                    <label for="title" class="form-label">Enter title of homework</label>
                    <input type="text" id="title" placeholder="Example: English ch-4" class="form-control" name="title">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Enter Description</label>
                    <input type="text" id="title" class="form-control" name="desc">
                </div>
                <div class="mb-3">
                    <select class="form-select" aria-label="Default select example" name="subject">
                        <option selected>Select Subject</option>
                        <option value="English">English</option>
                        <option value="Punjabi">Punjabi</option>
                        <option value="Maths">Maths</option>
                        <option value="Physics">Physics</option>
                        <option value="Chemestry">Chemestry</option>
                        <option value="Biology">Biology</option>
                        <option value="History">History</option>
                        <option value="Sociology">Sociology</option>
                      </select>
                </div>
                <div class="mb-3">
                    <label for="file" class="form-label">Select a PDF format file</label>
                    <input type="file" class="form-control" name="file">
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
              </form>
              <a href="/homework"><button class="btn btn-danger" style="position: relative; left: 95px; bottom: 38px; z-index: 0;">Back</button></a>
        </div>
    </section>

</body>
</html>